<div class="postCommentContainer">
    <div class="commentHeader">
        <img src="{{comment.profilePicture}}">
        <a href="/viewProfile/{{comment.username}}"><h3>{{comment.username}}</h3></a>
    </div>

    <div class="commentBody">
        <p> {{comment.body}} </p>

        <div class="commentFooter">
            <p class="commentLikeCount">{{comment.likeCount}}</p>
            <a href="">Like</a>
        </div>
    </div>
</div>