<div class="postContainer">
    <div class="postHeader">
        <img src="{{post.profilePicture}}" class="postProfilePicture">
        <a href="/viewProfile/{{post.username}}"><h3>{{post.username}}</h3></a>
    </div>

    <div class="postBody">
        {{#if post.postTitle}}
            <h3>{{post.postTitle}}</h3>
        {{/if}}
        <p>{{post.postBody}}</p>
    </div>

    <div class="postFooter">
        <p class="postLikeCount" id="likeCount">{{post.likeCount}}</p>
        <button  class="genButton-red" onclick="ToggleLike()">Like</button></a>
        <p class="postCommentCount">{{post.commentCount}}</p>
        <button  class="genButton-red" onclick="ToggleAddComment()">Comment</button></a>
        <button  class="genButton-red" onclick="ToggleEditPost()">Edit Post</button></a>
    </div>

    {{!-- {{#if post.replyList}}
    <div class="postCommentContainer">
        <div class="commentHeader">
            <img src="{{post.commentPfp}}">
            <a href="/viewProfile/{{post.commentUser}}"><h3>{{post.commentUser}}</h3></a>
        </div>

        <div class="commentBody">
            <p> {{post.commentBody}} </p>

            <div class="commentFooter">
                <p class="commentLikeCount">{{post.commentLikes}}</p>
                <a href="">Like</a>
            </div>
        </div>
    </div>
    {{/if}} --}}
</div>
<script src="/js/liking.js"></script>
<script src="/js/commenting.js"></script>
<script src="/js/posting.js"></script>