<div class="postContainer">
    <div class="postHeader">
        <img src="{{post.profilePicture}}" class="postProfilePicture">
        <a href="/viewProfile/{{post.username}}"><h3>{{post.username}}</h3></a>
    </div>

    <div class="postBody">
        <p>{{post.body}}</p>
    </div>

    <div class="postFooter">
        <p class="postLikeCount">{{post.likeCount}}</p>
        <a href="">Like</a>
        <p class="postCommentCount">{{post.commentCount}}</p>
        <a href="">Comment</a>
    </div>

    {{#each comments}}
        {{#if (matchString this.postId @root.post.id)}}
        {{> commentPartial comment=this}}
        {{/if}}
    {{/each}}
</div>