<div class="postContainer">
    <div class="postHeader">
        <img src="{{post.profilePicture}}" class="postProfilePicture">
        <h3>{{post.username}}</h3>
    </div>

    <div class="postBody">
        <p>{{post.body}}</p>
    </div>

    <div class="postFooter">
        <p class="postLikeCount">{{post.likeCount}}</p>
        <a href="">Like</a>
        <p class="postCommentCount">{{post.commentCount}}</p>
        <a href="">Comment</a>
    </div>
</div>