<div class="postContainer">
    <div class="postHeader">
        <img src="{{post.profilePicture}}" class="postProfilePicture">
        <a href="/viewProfile/{{post.username}}"><h3>{{post.username}}</h3></a>
    </div>

    <div class="postBody">
        <p>{{post.body}}</p>
    </div>

    <div class="postFooter">
        <p class="postLikeCount">{{post.likeCount}}</p>
        <a href="">Like</a>
        <p class="postCommentCount">{{post.commentCount}}</p>
        <a href="">Comment</a>
    </div>

    <div class="postCommentContainer">
    <div class="commentHeader">
        <img src="{{comment.profilePicture}}">
        <a href="/viewProfile/{{comment.username}}"><h3>{{comment.username}}</h3></a>
    </div>

    <div class="commentBody">
        <p> {{comment.body}} </p>

        <div class="commentFooter">
            <p class="commentLikeCount">{{comment.likeCount}}</p>
            <a href="">Like</a>
        </div>
    </div>
</div>
</div>