<div class="bodyContainer">
    <div class="profileContainer">
        <div class="profileHead">
            <img src="{{profile.bannerPicture}}" class="profileHeadBanner">
            <img src="{{profile.profilePicture}}" class="profileHeadAvatar">
            <h1 class="profileUsername"> {{profile.username}} </h1>
            <p class="profileStatus"> <i>Employment Status: </i>     {{profile.employmentStatus}} </p>
            <p class="profileBio"> {{profile.bio}} </p> 

            <div class="profileHeadButtons">
                <button>Message</button>
                <button>Follow</button>
            </div>

            <p class="profileGenres"><i>Game genres:</i> {{profile.gameGenres}}</p>
            <p class="profileFollowerCount">{{profile.followerCount}} Followers</p>

        </div>
        {{!-- <div class="contentCard-light">
            <h1>My Latest Game!</h1>
            <img src="../public/img/imgPost_2.png">
                <div class="postBody">
                <!--    <p>My game submission for Global Game Jam 2026, themed "Mask".</p>
                    <p>Description:</p>
                    <p>Mad-libs type game where you play as a woman seeking for a job but you're getting interviewed by someone you're (clearly) attracted to. The problem? You can't hear anything she's saying, so you have to fake your answers until you make it.</p>
                --></div>
        </div> --}}
    </div>
    {{#each posts}}
        {{#if (matchString this.username @root.profile.username)}}
        {{> postPartial post=this}}
        {{/if}}
    {{/each}}
</div>